# ai_service: src(rag)
APP_ENV="development"  # 개발/운영 환경

# 파인콘
PINECONE_API_KEY=<파인콘 api key>
PINECONE_INDEX=<파인콘 index 저장공간>

# CHROMA DB
CHROMA_DB_DIR=<당신의 로컬 chromadb 경로>

# 임베딩 설정 (예: "openai", "ollama", "huggingface")
EMBEDDING_PROVIDER=<임베딩 모델 제공 방식>
EMBEDDING_MODEL_NAME=<임베딩 모델 이름>
OPENAI_API_KEY=<openai api key>
OLLAMA_BASE_URL="http://localhost:11434"