# ai_service: src(rag)
APP_ENV="development"  # 개발/운영 환경

# langfuse .env key
LANGFUSE_SECRET_KEY=<내 프로젝트의 인증 암호이며 public key와 한 쌍>
LANGFUSE_PUBLIC_KEY=<sdk에서 데이터를 안전하게 수집할 때 사용되는 키>
LANGFUSE_BASE_URL=<랭퓨즈 클라우드의 기본 리전 URL>

# openai api key (test용)
OPENAI_API_KEY=<openai api key>

# 파인콘 (프로덕션 환경)
PINECONE_API_KEY=<파인콘 api key>
PINECONE_INDEX=<파인콘 index 저장공간>

# CHROMA DB (로컬 환경)
CHROMA_DB_DIR="./data/chroma_db"
CHROMA_COLLECTION_NAME="zeroday_smishing_patterns"

# 임베딩 설정 (예: "openai", "ollama", "huggingface")
EMBEDDING_PROVIDER="huggingface" # 임베딩 모델 출처
EMBEDDING_MODEL_NAME="jhgan/ko-sroberta-multitask" # 임베딩 모델

# ollama 설정
OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL_NAME=<ollama에서 돌아가고 있는 모델 이름>
OLLAMA_NUM_CTX=8192 # AI가 기억할 수 있는 대화/문서의 길이(8192면 한글 약 4,000자 이상), context window, 하드웨어 사양 고려
OLLAMA_NUM_PREDICT=1024 # 한 번에 답변할 수 있는 최대 분량 (기본: -1 무제한)

# hf_hub
HF_XET_HIGH_PERFORMANCE=1